body {
    background-color: indianred;
    margin: 0;
    padding: 0;
    font-family: 'Literata', serif;
}
nav {
    background-color: goldenrod;
    padding: 10px;
    position: fixed;
    width: 100%;
}
nav a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5em;
    color: darkblue;
}
nav a:hover {
    color: indianred;
}
header {
    padding-top: 38px;
    background-image: url("https://s3.amazonaws.com/cms.ipressroom.com/173/files/20173/59012de32cfac22d7c06f8cf_Los+Angeles+skyline/Los+Angeles+skyline_db2b3f31-5d7d-4cf8-9ee8-7041fc4a3dce-prv.jpg");
}
.slide {
    height: 100vh;
    background-color: rgb(119, 177, 252);
    border: 1px solid goldenrod;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about {
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    height: auto;
}
#blog {
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    height: auto;
}
#contact {
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    height: auto;
}
#my-profile-pic {
    background-image: url("https://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/lg/public/2017/07/02/image-642455958.jpg");
    background-size: cover;
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    background-position: right;
}
#my-profile-details {
    width: 50%;
    height: 100%;
    padding: 10px;
    font-size: 30px;
}
/* #contact {
    display: block;
} */
.post-wrapper {
    width: 100%;
    background-color: rgb(252, 189, 177);
    border: 2px dotted indianred;
}
#blog {
    flex-direction: column;
}
.date {
    float: right;
    font-style: italic;
    font-weight: 400;
}
.info-list {
    font-size: 30px;
    width: 50%;
}
h1 {
    font-size: 40px;
}
.contact-info-pic {
    background-image: url("https://www.freepngimg.com/thumb/telephone/4-2-telephone-png-pic.png");
    background-size: cover;
    width: 50%;
    height: 85vh;
}
header h1 {
    background-color: rgba(250, 239, 191, 0.5);
    color: darkblue;
}
#car-screenshot {
    height: 150px;
    width: 300px;
}
.summer-discover-pic {
    background-image: url("https://teenlife.s3.amazonaws.com/media/uploads/listings/cv3Sdzmxqwed.jpg");
    width: 320px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
#code-screenshot {
    height: 200px;
    width: 100px;
}
.blog-content {
    font-size: 25px;
}
html {
    scroll-behavior: smooth;
}
h3 {
    font-size: 25px;
}
/*  
h2 {
    background-color:goldenrod;
}
