body {
    background-color: indianred;
    margin: 0;
    padding: 0;
    font-family: 'Literata', serif;
}
nav {
    background-color: goldenrod;
    padding: 10px;
    position: fixed;
    width: 100%;
}
nav a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5em;
    color: darkblue;
}



/*  
h2 {
    background-color:goldenrod;
}
